<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skaitliskie mainigie</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="virsraksts">
       <h1>Nosaukums</h1>    
    </div>
    <div class="mainText">
        <p>
          <!--Здесь правила-->
        </p>
    </div>
    <div class="buttons">
        <a href="questions">
        <input type="button" class="playButton" value="Start">
        </a>
    </div>
</body>
</html>