<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>questions</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form class="question-section">
        <div class="question1">
        <p>Kā Python programmēšanas valodā var paaugstināt skaitli pakāpē?</p>

        <input type="radio" id="**" name="pakape" value="**">
        <label for="**">**</label><br>

        <input type="radio" id="pow(x,y)" name="pakape" value="pow(x,y)">
        <label for="pow(x,y)">pow(x,y)</label><br>

        <input type="radio" id="sqrt(x,y)" name="pakape" value="sqrt(x,y)">
        <label for="sqrt(x,y)">sqrt(x,y)</label><br>

        <input type="radio" id="round(x)" name="pakape" value="round(x)">
        <label for="round(x)">round(x)</label><br>
    </div>
    <div class="question2">
        <p>Kuras no šīm funkcijām prasa 'math' moduli?</p>
        
        <input type="radio" id="Modulis" name="math-module" value="Modulis">
        <label for="Modulis">Modulis</label><br>

        <input type="radio" id="Kvadrātsakne" name="math-module" value="Kvadrātsakne">
        <label for="Kvadrātsakne">Kvadrātsakne</label><br>

        <input type="radio" id="Sinuss" name="math-module" value="Sinuss">
        <label for="Sinuss">Sinuss</label><br>

        <input type="radio" id="Minimālā vērtība" name="math-module" value="Minimālā vērtība">
        <label for="Minimālā vērtība">Minimālā vērtība</label><br>
    </div>
        <div class="question3">
            <p>Kura funkcija NE atgriež tangensu?</p>
            
            <input type="radio" id="math.tan(x)" name="NOtangens" value="math.tan(x)">
            <label for="math.tan(x)">math.tan(x)</label><br>
    
            <input type="radio" id="math.cos(x)" name="NOtangens" value="math.cos(x)">
            <label for="math.cos(x)">math.cos(x)</label><br>
    
            <input type="radio" id="math.floor(x)" name="NOtangens" value="math.floor(x)">
            <label for="math.floor(x)">math.floor(x)</label><br>
    
            <input type="radio" id="min(x,y)" name="NOtangens" value="min(x,y)">
            <label for="min(x,y)">min(x,y)</label><br>
        </div>
        <div class="question4">
                <p>Kādu vērtību atgriež funkcija 'math.pi'?</p>
                
                <input type="radio" id="3.141592653589793" name="pi" value="3.141592653589793">
                <label for="3.141592653589793">3.141592653589793</label><br>
        
                <input type="radio" id="random" name="pi" value="random">
                <label for="random">random</label><br>
        
                <input type="radio" id="pi skaitlis" name="pi" value="pi skaitlis">
                <label for="pi skaitlis">pi skaitlis</label><br>
        
                <input type="radio" id="4" name="pi" value="4">
                <label for="4">4</label><br>
            </div>
            <div class="question5">
                <p>Cik radiāni ir 180 grādi?</p>
                
                <input type="radio" id="pi-number" name="radiani" value="pi-number">
                <label for="pi-number">pi skaitlis</label><br>
        
                <input type="radio" id="piNumber" name="radiani" value="3.141592653589793">
                <label for="piNumber">3.141592653589793</label><br>
        
                <input type="radio" id="2" name="radiani" value="2">
                <label for="2">2</label><br>
        
                <input type="radio" id="360grādi" name="radiani" value="360 grādi">
                <label for="360grādi">360 grādi</label><br>
            </div>
            <div class="question6">
                <p>Kādu vērtību atgriež funkcija 'math.sin(math.pi/2)'?</p>
                
                <input type="radio" id="1.0" name="returnSinPi" value="1.0">
                <label for="1.0">1.0</label><br>
        
                <input type="radio" id="0" name="returnSinPi" value="0">
                <label for="0">0</label><br>
        
                <input type="radio" id="0.0" name="returnSinPi" value="0.0">
                <label for="0.0">0.0</label><br>
        
                <input type="radio" id="1" name="returnSinPi" value="1">
                <label for="1">1</label><br>
            </div>
            <div class="question7">
                <p>Ko atgriež funkcija 'abs(-5)'?</p>
                
                <input type="radio" id="-5" name="returnABS" value="-5">
                <label for="-5">-5</label><br>
        
                <input type="radio" id="zero" name="returnABS" value="0">
                <label for="zero">0</label><br>
        
                <input type="radio" id="5" name="returnABS" value="5">
                <label for="5">5</label><br>
        
                <input type="radio" id="5" name="returnABS" value="5.0">
                <label for="5.0">5.0</label><br>
            </div>
            <div class="question8">
                <p>Kā iegūt kvadrātsakni no skaitļa?</p>
                
                <input type="radio" id="dumb" name="kvadrāts" value="sqrt = x ** (0.5)">
                <label for="dumb">sqrt = x ** (0.5)</label><br>
        
                <input type="radio" id="num" name="kvadrāts" value="num = sakne x">
                <label for="num">num = sakne x</label><br>
        
                <input type="radio" id="sqrt.math" name="kvadrāts" value="sqrt.math(x)">
                <label for="sqrt.math">sqrt.math(x)</label><br>
        
                <input type="radio" id="math.sqrt(x)" name="kvadrāts" value="math.sqrt(x)">
                <label for="math.sqrt(x)">math.sqrt(x)</label><br>
            </div>
            <div class="question9">
                <p>Ko atgriež 'ceil(4.2)'?</p>
                
                <input type="radio" id="four" name="returnCeli" value="4">
                <label for="four">4</label><br>
        
                <input type="radio" id="4.5" name="returnCeli" value="4.5">
                <label for="4.5">4.5</label><br>
        
                <input type="radio" id="five" name="returnCeli" value="5">
                <label for="five">5</label><br>
        
                <input type="radio" id="pieci" name="returnCeli" value="5.0">
                <label for="pieci">5.0</label><br>
            </div>
            <div class="question10">
                <p>Ko dara funkcija statistics.median()?</p>
                
                <input type="radio" id="dataMedian" name="statistics.median" value="Aprēķina-doto-datu-mediānu">
                <label for="dataMedian">Aprēķina doto datu mediānu</label><br>
        
                <input type="radio" id="square" name="statistics.median" value="Aprēķina sakni">
                <label for="square">Aprēķina sakni</label><br>
        
                <input type="radio" id="average" name="statistics.median" value="Aprēķina doto vidējo vērtību">
                <label for="average">Aprēķina doto vidējo vērtību</label><br>
        
                <input type="radio" id="moda" name="statistics.median" value="Aprēķina modu">
                <label for="moda">Aprēķina modu</label><br>
            </div>
        </form>
    </div>
</body>
</html>